body {
  background-color: gray;
  font-size: 24px;
}
.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper h2 {
  margin: 0;
}
.break-session-length {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

button {
  border: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

div > button {
  color: white;
  background-color: green;
}
div > button:hover {
  background-color: rgb(1, 88, 1);
}
div button:nth-child(2) {
  color: #000;
  background-color: yellow;
}
div button:nth-child(2):hover {
  background-color: rgb(201, 201, 22);
}
strong {
  margin: 0 8px;
}
.timer {
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  padding-top: 10px;
}
.timer-wrapper > button {
  margin-left: 10px;
}
